<!DOCTYPE html>
<html lang="hr">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Prikaz skupa podataka o osobama">
    <meta name="author" content="Ime Autora">
    <title>Skup Podataka</title>
</head>
<body>
    <h1>Dobrodošli na stranicu skupa podataka</h1>
    <p>Ovdje možete preuzeti podatke u CSV i JSON formatu ili ih pogledati u tablici.</p>
    
    <a href="/naziv_skupa.csv" download="naziv_skupa.csv">Preuzmi podatke u CSV formatu</a>
    <br>
    <a href="/naziv_skupa.json" download="naziv_skupa.json">Preuzmi podatke u JSON formatu</a>
    <br><br>
    <a href="/datatable">Pogledaj podatke u tablici</a>
</body>
</html>

